.message-dialog-wrapper {
  background-color: var(--background-transparent);
  z-index: 10000000000;
}

.message-dialog {
  width: 400px;
  min-height: 130px;
  height: fit-content;
}

.message-dialog div.dialog-body {
  display: flex;
  align-items: start;
  gap: 10px;
}

.message-dialog div.dialog-body h1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  margin-bottom: 5px;
}

.message-dialog div.dialog-body span.lucide {
  color: var(--red);
  font-size: 32px;
  width: 32px;
  height: 32px;
}
