@import url("./modularitydialog/newnote.css");
@import url("./modularitydialog/newfolder.css");
@import url("./modularitydialog/deletenotes.css");
@import url("./modularitydialog/renamenote.css");
@import url("./modularitydialog/importnotes.css");
@import url("./modularitydialog/movefolder.css");
@import url("./modularitydialog/movenotes.css");
@import url("./modularitydialog/about.css");
@import url("./modularitydialog/search.css");
@import url("./modularitydialog/keyboardshortcuts.css");
@import url("./modularitydialog/existingnoteshare.css");
@import url("./modularitydialog/newnoteshare.css");
@import url("./modularitydialog/sharepassword.css");

.modularity-dialog-wrapper {
  background-color: var(--background-transparent);
  z-index: 100000000000000;
}

.modularity-dialog {
  width: var(--width, 400px);
  height: var(--height, 128px);
}

.modularity-dialog div.dialog-body {
  overflow: hidden;
}

.modularity-dialog div.dialog-body h1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  margin-bottom: 5px;
}

.modularity-dialog div.dialog-body span.lucide {
  color: var(--red);
  font-size: 32px;
  width: 32px;
  height: 32px;
}
