div.status-bar {
  display: flex;
  align-items: center;
  background-color: var(--background-secondary);
  border-top: var(--border-color) 1px solid;
  height: 25px;
  overflow: hidden;
}

div.status-bar div.segment {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0 8px;
  border-right: var(--border-color) 1px solid;
  height: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: fit-content;
}

div.status-bar div.segment span {
  width: fit-content;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.status-bar div.segment.unimportant span {
  opacity: 0.5;
}

div.status-bar div.segment.flex span {
  display: flex;
  align-items: center;
}

div.status-bar div.right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

div.status-bar div.right div.segment {
  border-left: var(--border-color) 1px solid;
  border-right: unset;
}

div.status-bar div.segment button.lucide {
  width: 26px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.status-bar div.segment button.lucide.selected {
  color: var(--red);
}

div.status-bar div.segment > span > button.lucide:not(:first-child) {
  border-left: var(--border-color) 1px solid;
}

div.status-bar div div.segment.flex {
  padding: 0;
}
