.dialog.existing-note-share {
  --width: 380px;
  --height: 180px;
}

.dialog.existing-note-share div.dialog-body > p {
  margin-bottom: 15px;
}

.dialog.existing-note-share div.information {
  border: var(--border-color) 1px solid;
}

.dialog.existing-note-share div.information div.item {
  display: flex;
  align-items: center;
  height: 30px;
}

.dialog.existing-note-share div.information div.item div.key {
  width: 110px;
  height: 30px;
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;
  border-right: var(--border-color) 1px solid;
  background-color: var(--background-secondary);
}

.dialog.existing-note-share div.information div.item + div.item {
  border-top: var(--border-color) 1px solid;
  height: 31px;
}

.dialog.existing-note-share div.information div.item div.value {
  display: flex;
  align-items: center;
  padding-left: 10px;
  width: 0;
  flex-grow: 1;
}

.dialog.existing-note-share div.information div.item div.value div.password {
  width: 0;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dialog.existing-note-share div.information div.item.password button {
  padding: 0 10px;
  border-left: var(--border-color) 1px solid;
  height: 30px;
  position: relative;
  background-color: var(--background-secondary);
  margin-left: auto;
}

.dialog.existing-note-share button.delete-share {
  color: var(--red);
}
