div.main-viewer {
  padding: 10px;
  height: 100%;
  overflow-y: auto;
  padding-right: calc(15px + 270px + 15px); /* content padding + collapsed view + collapsed view padding */
}

div.main-viewer > div.listing {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 5px;
}

div.main-viewer > div.listing:not(.view-list) span.timestamp {
  display: none;
}

div.main-viewer button.viewer-item {
  display: flex;
  align-items: center;
  width: 150px;
  height: 30px;
  gap: 10px;
  padding: 3px 5px;
  border-radius: 2px;
}

div.main-viewer button.viewer-item span:not(.lucide) {
  width: 0;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

div.main-viewer button.viewer-item span.lucide {
  margin: 0 5px;
  opacity: 0.5;
}

div.main-viewer button.viewer-item:active,
div.main-viewer button.viewer-item.selected {
  background-color: var(--button-hover);
}

div.main-viewer > div.listing.view-list {
  gap: 2;
}

div.main-viewer > div.listing.view-list button.viewer-item {
  width: 100%;
  height: 22px;
}

div.main-viewer > div.listing.view-list button.viewer-item:not(:hover):not(.selected) {
  background-color: transparent;
}

div.main-viewer > div.listing.view-list button.viewer-item img {
  height: 16px;
}

div.main-viewer > div.listing.view-list span.timestamp {
  width: 130px;
  flex-grow: 0;
  opacity: 0.5;
  text-align: right;
}

div.main-viewer > div.listing.view-large-grid button.viewer-item {
  flex-direction: column;
  height: 70px;
  width: 80px;
  gap: 5px;
  padding: 8px;
}

div.main-viewer > div.listing.view-large-grid button.viewer-item img {
  width: 32px;
  height: 32px;
}

div.main-viewer > div.listing.view-large-grid button.viewer-item span {
  flex-grow: 0;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 700px) {
  div.main-viewer {
    padding-right: 10px;
  }
}
